<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zelda.Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zelda.Game.Properties.Settings>
            <setting name="DefaultGameWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="DefaultGameHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="DefaultMod" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="WriteDir" serializeAs="String">
                <value>.Zelda</value>
            </setting>
        </Zelda.Game.Properties.Settings>
    </applicationSettings>
</configuration>